@use "../abstracts/variables" as *;

html{
    box-sizing: border-box;
}

*, ::after, ::before{
    box-sizing: inherit;
}

body{
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $grayishBlue;
}