$breakepoints: ("mobile" : "375px", "tablet" : "760px", "desktop" : "1440px");

//Colors
$strongCyan: hsl(171, 66%, 44%);
$lightBlue: hsl(233, 100%, 69%);
$darkGrayishBlue:  hsl(210, 10%, 33%);
$grayishBlue: #9fabb2;
$white: hsl(0, 0%, 100%);
$athensGray: #F5F6F8;
$downy: #5DCCBB;
$malibu: #8896FF;

//Typography
$fontFamily: "Bai Jamjuree", sans-serif;
$fontSize: 18px;
$font400: 400;
$font600: 600;

//Transitions
%transitions {
    transition: all 200ms ease-in;
}

//List resets
%listReset{
    list-style: none;
    padding: 0;
    margin: 0;
}

//Align elements
%centeredFlex{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

%contentLineHeight{
    line-height: 28px;
}