body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  color: hsl(201, 11%, 66%);
}

#clipboard {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
}

.section-bottom__title, .section-middle__title, .banner-top__title, .section-top__title, .header__title {
  color: hsl(210, 10%, 33%);
  font-weight: 600;
  margin: 0 0 32px;
}

.button {
  appearance: none;
  border: none;
  border-radius: 25px;
  padding: 17px 40px;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.button--ios {
  background: hsl(171, 66%, 44%);
}
.button--mac {
  background: hsl(233, 100%, 69%);
}

.section-bottom__body, .section-middle__body, .section-top__body, .header__body {
  width: 100%;
  max-width: 690px;
  margin-inline: auto;
  text-align: center;
}

.section-bottom__content, .section-middle__content, .section-top__content, .header__content {
  margin-block-end: 50px;
}
.section-bottom__content p, .section-middle__content p, .section-top__content p, .header__content p {
  margin: 0;
}

.banner-top__content {
  width: 100%;
  max-width: 380px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
@media screen and (max-width: 499px) {
  .button-container {
    flex-direction: column;
    gap: 25px;
  }
}

.header {
  background-image: url(../images/bg-header-desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  padding-block-start: 130px;
  margin-block-end: 130px;
}
@media screen and (max-width: 499px) {
  .header {
    background-image: url(../images/bg-header-mobile.png);
  }
}
.header__logo {
  width: 100%;
  max-width: 125px;
  height: auto;
  margin-block-end: 74px;
}
.section-top {
  margin-block-end: 75px;
}
.banner-top {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: clip;
  margin-block-end: 150px;
}
.banner-top__imgWrapper {
  flex-basis: 50%;
  flex-grow: 0;
}
.banner-top__img {
  transform: translateX(-35px);
  width: 100%;
  max-width: 752px;
}
.banner-top__body {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  padding-inline-start: 100px;
}
.banner-top__title {
  margin: 0 0 10px;
}
.banner-top__txt {
  margin: 0 0 60px;
}
.banner-top__txt:last-child {
  margin: 0;
}
