@use "../abstracts/variables" as *;

.button{
    appearance: none;
    border: none;
    border-radius: 25px;
    padding: 17px 40px;
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $white;
    cursor: pointer;

    &--ios{
        background: $strongCyan;
        box-shadow: hsl(160, 64%, 72%) 0px 10px 20px 0px, 
                    inset #00000030 0px -3px 0px 0px;
    }

    &--mac{
        background: $lightBlue;
        box-shadow: hsla(0, 0%, 0%, 0.13) 0px 10px 20px 0px, inset #00000030 0px -3px 0px 0px;
    }
}