@use "../abstracts/mixins" as *;

%middle-container{
    width: 100%;
    max-width: 690px;
    margin-inline: auto;
    text-align: center;
}

%content-container{
    margin-block-end: 50px;

    p{
        margin: 0;
    }
}


.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    @include mobileBreakpoint{
        flex-direction: column;
        gap: 25px;
    }
}