@use "../abstracts/mixins" as *;

%middle-container{
    width: 100%;
    max-width: 690px;
    margin-inline: auto;
    text-align: center;
}

%content-container{
    text-align: center;
    padding-inline: 10px;

    p{
        margin: 0;
        @extend %contentLineHeight;
    }
}

%banner-container{
    width: 100%;
    max-width: 380px;
}

%icon-container{
    width: 100%;
    max-width: 1110px;
    margin-inline: auto;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    @include mobileBreakpoint("tablet"){
        flex-direction: column;
        gap: 25px;
    }
}