@use "../components/headings" as *;
@use "../components/containers" as *;
@use "../abstracts/mixins" as *;

.banner-top{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: clip;
    margin-block-end: 150px;

    @include mobileBreakpoint("tablet"){
        flex-direction: column;
    }

    &__imgWrapper{
        flex-basis: 50%;
        flex-grow: 0;

        @include mobileBreakpoint("tablet"){
            padding-inline: 30px;
            margin-block-end: 56px;
        }
    }

    &__img{
        transform: translateX(-35px);
        width: 100%;
        max-width: 752px;

        @include mobileBreakpoint("tablet"){
            transform: none;
        }
    }

    &__body{
        flex-basis: 50%;
        display: flex;
        align-items: center;
        padding-inline-start: 100px;

        @include mobileBreakpoint("tablet"){
            flex-basis: 100%;
            justify-content: center;
            padding-inline-start: 0;
        }
    }

    &__title{
        @extend %section-title;
        margin: 0 0 10px;

        @include mobileBreakpoint("tablet"){
            text-align: center;
        }
    }

    &__content{
        @extend %banner-container
    }

    &__txt{
        margin: 0 0 60px;
        font-size: 16px;
        @extend %contentLineHeight;

        @include mobileBreakpoint("tablet"){
            text-align: center;
        }

        &:last-child{
            margin: 0;
        }
    }
}