@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer{
    &__body{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        background: $athensGray;
        padding-block: 39px;

        @include mobileBreakpoint("tablet"){
            grid-template-columns: 1fr;
            // padding-block: 0;
            justify-items: center;
            gap: 45px;
        }
    }

    &__logo{
        @extend %centeredFlex;

        &>img{
            width: 55px;
            height: auto;
        }
    }

    &__menuList{
        @extend %listReset;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax((min(100%, 11rem)), 1fr));
        gap: 20px;
    }

    &__menuItem{
        @include mobileBreakpoint("tablet"){
            text-align: center;
        }
    }

    &__menuLink{
        text-decoration: none;
        color: $darkGrayishBlue;
        @extend %transitions;

        &:hover{
            color: $downy;
        }
    }

    &__socials{
        @extend %centeredFlex;
    }

    &__socialsList{
        @extend %listReset;
        @extend %centeredFlex;
        gap: 15px;

        &Img{
            width: 24px;
            height: auto;
        }
    }
}