@use "../abstracts/variables" as *;

.footer{
    &__body{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        background: $athensGray;
        padding-block: 39px;
    }

    &__logo{
        @extend %centeredFlex;

        &>img{
            width: 55px;
            height: auto;
        }
    }

    &__menuList{
        @extend %listReset;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax((min(100%, 10rem)), 1fr));
        gap: 20px;
    }

    &__menuLink{
        text-decoration: none;
        color: $darkGrayishBlue;
        @extend %transitions;

        &:hover{
            color: $downy;
        }
    }

    &__socials{
        @extend %centeredFlex;
    }

    &__socialsList{
        @extend %listReset;
        @extend %centeredFlex;
        gap: 15px;

        &Img{
            width: 24px;
            height: auto;
        }
    }
}