@use "../components";
@use "../abstracts/mixins" as *;


.section-grid{
    @extend %icon-container;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    justify-content: center;
    margin-block-end: 150px;
    @include mobileBreakpointUp("tablet"){
        padding-inline: 20px;
    }

    @include mobileBreakpoint("tablet"){
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 45px;
    }

    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        @include mobileBreakpoint("tablet"){
            width: min(100%, 380px);
        }
    }

    &__img{
        width: auto;
        height: 34px;
        margin-block-end: 45px;

        @include mobileBreakpoint("tablet"){
            margin-block-end: 30px;
        }
    }

    &__title{
        @extend %section-title;
        margin: 0 0 30px;

        @include mobileBreakpoint("tablet"){
            margin: 0 0 20px;
        }
    }

    &__content{
        @extend %content-container;
        font-size: 16px;
    }
}