@use "../abstracts/variables" as *;

.header{
    background: url(../images/bg-header-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding-block-start: 130px;
    margin-block-end: 130px;
    
    &__body{
        width: 100%;
        max-width: 700px;
        margin-inline: auto;
        text-align: center;
    }

    &__logo{
        width: 100%;
        max-width: 125px;
        height: auto;
    }

    &__title{
        color: $darkGrayishBlue;
        font-weight: 600;
    }
}