@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../components/containers" as *;

.header{
    background-image: url(../images/bg-header-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding-block-start: 130px;
    margin-block-end: 130px;
    
    @include mobileBreakpoint {
        background-image: url(../images/bg-header-mobile.png);
    }

    &__body{
        // width: 100%;
        // max-width: 690px;
        // margin-inline: auto;
        // text-align: center;
        @extend %middle-container;
    }

    &__logo{
        width: 100%;
        max-width: 125px;
        height: auto;
        margin-block-end: 74px;
    }

    &__content{
        margin-block-end: 50px;

        p{
            margin: 0;
        }
    }

    &__buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        @include mobileBreakpoint{
            flex-direction: column;
            gap: 25px;
        }
    }
}