@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../components/containers" as *;
@use "../components/headings" as *;

.header{
    background-image: url(../images/bg-header-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding-block-start: 130px;
    margin-block-end: 130px;
    
    @include mobileBreakpoint("tablet") {
        background-image: url(../images/bg-header-mobile.png);
    }

    &__body{
        @extend %middle-container;
        padding-inline: 20px;
    }

    &__logo{
        width: 100%;
        max-width: 125px;
        height: auto;
        margin-block-end: 74px;
    }

    &__title{
        @extend %section-title;
    }

    &__content{
        @extend %content-container;
        margin-block-end: 50px;
    }
}